<% map = {"notice" => "success", "warn" => "warning", "error" => "danger"} %>
<% flash.each do |name, msg| %>
	<% if msg.is_a?(String) %>
	<div class="row">
		<%= content_tag :div, msg, :class => "alert-#{map[name]}", :role => "alert" %>
	</div>
	<% end %>
<% end %>